[
  {lager, [
    {handlers, [
      {lager_file_backend, [
        [{"log/error.log", error, 10485760, "$D0", 5},
          {lager_default_formatter, [
            time, " [", severity, "]",
            {pid, ["[", pid, "]"], ""},
            {ip, ["[", ip, "]"],""},
            {uid, ["[", uid, "]"],""},
            " ", message, "\n"
          ]}
        ],
        [{"log/console.log", debug, 10485760, "$D0", 5}, 
          {lager_default_formatter, [
            time, " [", severity, "]",
            {pid, ["[", pid, "]"], ""},
            {ip, ["[", ip, "]"],""},
            {uid, ["[", uid, "]"],""},
            " ", message, "\n"
          ]}
        ]
      ]},
      {lager_console_backend, [debug,
        {lager_default_formatter, [
          time, " [", severity, "]",
          {pid, ["[", pid, "]"], ""},
          {ip, ["[", ip, "]"],""},
          {uid, ["[", uid, "]"],""},
          " ", message, "\n"
        ]}
      ]}
    ]}
  ]},
  {yachat, [
      {port, 8080}
  ]}
].

