{deps, [
    {lager,    ".*", {git, "https://github.com/basho/lager.git" ,         {tag, "2.0.0rc1"}}},
    {ranch,    ".*", {git, "https://github.com/extend/ranch.git",         "master"}},
    {reloader, ".*", {git, "https://github.com/brendanhay/reloader.git",  "master"}},
    {ibrowse,  ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.1"}}},
    {gproc,    ".*", {git, "https://github.com/uwiger/gproc.git",         {tag, "v0.2.10"}}}
]}.

{clean_files, ["*.eunit", "src/protocol_parser.erl", "src/protocol_scanner.erl"]}.
{erl_opts, [{parse_transform, lager_transform}]}.
